.html {
    background-color: red;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.calculator {
    background-color: #5c636a;
    height: 800px;
    width: 500px;
    border: 3px solid black;
    border-radius: 3%;
    text-align: center;
}

.text-field {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}

input {
    width: 90%;
    height: 70%;
    border: 4px solid lime;
    border-radius: 10%;
    font-size: 2rem;

}

.symbols {
    width: 500px;
    height: 500px;
}

.btn {
    border: 1.5px solid #000;
    font-size: 2rem;
    margin-bottom: 3rem;
    padding-left: 25px;
    padding-right: 25px;
}

.btn-danger {
    margin-left: 140px;
    font-size: 2rem;
    padding: 0.5rem;
}

.col-3 {
    padding: 0;
}

footer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}